{% extends 'layouts/main.html.twig' %}

{% block navlist %}
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" href="/">Main</a>
        </li>
    </ul>
{% endblock %}

{% block content %}
    <h2 class="py-3">Login</h2>
    {% if error %}
        <div class="alert alert-danger" role="alert">
            Incorrect login or password
        </div>
    {% endif %}

    <form action="/login" method="post">
        <div class="form-group">
            <label for="login">Email address</label>
            <input name="login"
                   type="text"
                   class="form-control{{error ? ' is-invalid' : '' }}"
                   id="login"
                   aria-describedby="login"
                   placeholder="Enter login - admin">
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input name="password"
                   type="password"
                   class="form-control{{error ? ' is-invalid' : '' }}"
                   id="password"
                   placeholder="Enter password - admin">
        </div>
        <button type="submit" class="btn btn-primary mt-3">Submit</button>
    </form>

{% endblock %}

