{% extends 'layouts/main.html.twig' %}

{% block title %}
    <title>Admin panel</title>
{% endblock %}

{% block navlist %}
    <ul class="navbar-nav">
        <li class="nav-item active">
            <a class="nav-link" href="/admin">Cabinet</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/admin/page/index">Pages list</a>
        </li>
    </ul>
{% endblock %}


{% block content %}

    <section class="department">
        <div class="row px-4 pt-4">
            <h3>Admin panel</h3>
        </div>
        <div class="row px-4">
            <h5>Hello, {{ user.login }}</h5>
        </div>

        <section class="main-page pl-2 pt-3">
            <div class="row">
                <div class="col-6">
                    <div class="card" style="max-width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title">Pages</h5>
                            <p class="card-text">Pages list of site</p>
                            <a href="/admin/page/index" class="btn btn-success">List</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </section>

{% endblock %}
