{% extends 'layouts/main.html.twig' %}

{% block navlist %}
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" href="/admin">Cabinet</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/admin/page/index">Pages list</a>
        </li>
    </ul>
{% endblock %}

{% block content %}

    <section class="pages">

        <div class="row p-4">
            <h3 class="mr-3">Page - Add</h3>
        </div>


        {% if errors %}
            {% for error in errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}


        {% endif %}


        <form class="px-4 pb-5" action="/admin/page/create" method="post">
            <div class="form-group">
                <label for="title">Title</label>
                <input name="title"
                       type="text"
                       class="form-control"
                       id="title"
                       aria-describedby="title"
                       placeholder="Title"
                       value="{{ oldForm["title"] }}"
                       >
            </div>

            <div class="form-group">
                <label for="url">Url slug</label>
                <input name="url"
                       type="text"
                       class="form-control"
                       id="url"
                       aria-describedby="url"
                       placeholder="Url slug"
                       value="{{ oldForm["url"] }}"
                       >
            </div>

            <div class="form-group">
                <label for="description">Meta description</label>
                <textarea name="description" class="form-control" id="description" rows="2" >{{ oldForm["description"] }}</textarea>
            </div>

            <div class="form-group">
                <label for="content">Content</label>
                <textarea name="content" class="form-control" id="content" rows="10" >{{ oldForm["content"] }}</textarea>
            </div>

            <button type="submit" class="btn btn-primary mt-3">Create page</button>
        </form>


    </section>

{% endblock %}

