{% extends 'layouts/main.html.twig' %}

{% block navlist %}
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" href="/admin">Cabinet</a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="/admin/page/index">Pages list</a>
        </li>
    </ul>
{% endblock %}



{% block content %}

    <section class="pages">

        <div class="row p-4">
            <h3 class="mr-3">Pages</h3>
            <form action="/admin/page/create" method="get">
                <button type="submit" class="btn btn-success m-1">Add page</button>
            </form>
        </div>

        {#    <div class="alert alert-primary" role="alert">#}
        {#        Departments list is empty!! You can#}
        {#    </div>#}

        {% if pages %}
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Title</th>
                    <th scope="col">{slug}</th>
                    <th scope="col">Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for page in pages %}
                    <tr>
                        <th scope="row">{{ page.id }}</th>
                        <td>{{ page.title }}</td>
                        <td><a href="{{ page.url }}">{{ page.url }}</a> </td>
                        <td>
                            <div class="button-container row">
                                <div class="col">
                                    <form action="/admin/page/delete/{{ page.id }}" method="post">
                                        <button type="submit" class="btn btn-danger m-1">Delete</button>
                                    </form>
                                </div>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            <div class="alert alert-primary" role="alert">
                List of pages is empty
            </div>
        {% endif %}
    </section>

{% endblock %}

