{% extends 'layouts/main.html.twig' %}

{% block content %}
    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center ">
        <h1 class="display-1 text-primary">404</h1>
        <p class="lead  text-info">Page not found :(</p>
    </div>
{% endblock %}

