{% extends 'layouts/main.html.twig' %}

{% block navlist %}
    <ul class="navbar-nav">
        <li class="nav-item active">
            <a class="nav-link" href="/">Main</a>
        </li>
    </ul>
{% endblock %}

{% block content %}
    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <h1 class="display-4">CodeIT Test Task</h1>
        <p class="lead">This is test task application for Trainee Backend Developer position in CodeIT with page management system</p>
        <div class="d-flex justify-content-center">
            <a href="/login" class="btn btn-primary btn-lg m-2 " role="button" aria-pressed="true">Login</a>
        </div>
    </div>

    {% if pages %}
        <table class="table table-bordered">
            <thead>
            <tr>
                <th scope="col">Title</th>
                <th scope="col">URL</th>
            </tr>
            </thead>
            <tbody>
            {% for page in pages %}
                <tr>
                    <td>{{ page.title }}</td>
                    <td><a href="{{ page.url }}">{{ page.url }}</a> </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <div class="alert alert-primary" role="alert">
            List of pages is empty
        </div>
    {% endif %}
{% endblock %}