{% extends 'layouts/main.html.twig' %}

{% block meta %}
    <meta name="description" content="{{ page.description }}">
{% endblock %}

{% block title %}
    <title>{{ page.title }}</title>
{% endblock %}


{% block navlist %}
    <ul class="navbar-nav">
        <li class="nav-item ">
            <a class="nav-link" href="/">Main</a>
        </li>
    </ul>
{% endblock %}



{% block content %}
    <div style="background: #fbfbfb; border-radius: 15px" class="p-5 mt-5">
        <h1 class="p">{{ page.title }}</h1>
        <div class="page mt-5 lead">
            {{ page.content }}
        </div>
    </div>
{% endblock %}